# Ignore ide files
.idea/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore configuration files
config/config.go

# Ignore executable
chat
chat.exe

# Ignore docs folder
docs
